body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}
ol, ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0;
}
/*************************常用***************************/
.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
/*************************背景****************************/
body{
    background-color: #3289d5;
}



/*游戏区*/
/*************************布局****************************/
.box{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 4.9% auto;
    /*border: 1px solid #0e3c6f;*/
    background-color: #ffffff;
}
.adversary,.myself{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 220px;
    height: 220px;
    border: 10px solid #0e3c6f;
}
.battlefield{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    border: 1px solid #0e3c6f;
    border-top: 10px solid #0e3c6f;
}
.myselfInfo,.adversaryInfo{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 220px;
    border: 10px solid #0e3c6f;
    border-top: none;
    text-align: center;
    padding-top: 1rem;
    line-height: 2rem;
}
.myselfInfo>h6,.adversaryInfo>h6{
    font-size: 2rem;
    font-weight: bold;
}
.reportBox,.gameBox{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 10px solid #0e3c6f;
}
.reportBox{
    height: 30%;
}
.gameBox{
    height: 70%;
    background-image: url(../images/game/link.png);
    background-size: cover;
}

/*游戏操作界面*/
.modalBox>h1{
    width: 500px;
    margin: 7% auto -7%;
    font-size:3rem;
    color: #ffffff;
    text-align: center;
}
#confirm{
    display: block;
    margin: -2% auto;
    width: 200px;
    height: 50px;
}
#module{
    height: 100%;
}
#module>button{
    display: block;
    margin: 10px auto 0;
    width: 20%;
    height: 15%;
}
#module>div{
    height: 80%;
    text-align: center;
}
#module>div>span{
    width: 30%;
}
#module>div>span>img{
    width: 30%;
}
/**********************模态框**************************/
.modalBox{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    color: #ffffff;
    display: none;
}
.modalBox>h1{
    width: 552px;
    text-align: center;
    font-size: 5rem;
    margin: 0 auto;
}
.gesture{
    width: 552px;
    margin: 10% auto;
}
.gesture>span{
    display: inline-block;
}
.checkedGesture{
    background: #ffffff;
}
#alertAction{
    display: none;
    width: 70%;
    height: 70%;
    background-color: #0e3c6f;
    position: absolute;
    top: 15%;
    left: 15%;
}


/*登录页面*/
.hero{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-top: 10px solid #0e3c6f;
    border-left: 10px solid #0e3c6f;
}
.hero>img{
    width: 100%;
}
.hero>.heroChecked:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}
.heroBox{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 310px;
    /*height: 310px;*/
    border-bottom: 10px solid #0e3c6f;
    border-right: 10px solid #0e3c6f;
    position: absolute;
}
.heroBox:after{
    content: "";
    clear: both;
    display: block;
}
.heroChecked{
    position: absolute;
    width: 90px;
    height: 90px;
    box-shadow: ghostwhite;
    background-color: rgba(0,0,0,0.7);
}
.onlyChecked{}
.top1{
    top:10px;
}
.top2{
    top:110px;
}
.top3{
    top: 210px;
}
.title{
    color:#ffffff;
    font-size: 4rem;
    text-align: center;
    margin:0 auto;
    width: 500px;
}
.boxCenter{
    margin: 0 auto;
    width:310px;
    color:#ffffff;
    text-align: center;
}
.boxCenter>h6{
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 10px;
}
.boxCenter>input{
    background-color: #eeeeee;
    border: 1px solid #0e3c6f;
    color: #000000;
    margin-top: 30px;
    border-radius: 5px;
    height: 30px;
    padding: 0 10px;
}
.boxCenter:after{
    content: "";
    clear: both;
    display: block;
    height: 310px;
}
.login{
    width: 200px;
    height: 50px;
    margin: 50px auto 0;
    display: block;
}
.login:hover{
    cursor: pointer;
}
/*login弹出*/
.mt{
    margin: 10% auto 5%!important;
}
.chooseButtonBox{
    width: 420px;
    margin: 0 auto;
    text-align: center;
}
.chooseButton{
    font-size: 3rem;
    width: 200px;
    height: 200px;
}
.close{
    width: 20px;
    height: 20px;
    text-align: center;
    border: 2px solid #00578d;
    background-color: #008af5;
    cursor: pointer;
    margin: 10px;
}





